* {
    box-sizing: border-box;
}

h1 {
    margin: 10px;
    text-align: center;
}

body {
    width: 100%;
    background-color: grey;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    margin: 0;
    overflow-x: hidden;
}

nav ul {
    list-style-type: none;
    background-color: hsl(0, 0%, 25%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

nav li {
    float: left;
}

nav a:hover {
    background-color: hsl(0, 0%, 10%);
}

.box-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: steelblue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
    transform: translateX(200%);
    transition: transform 0.4s ease;
    overflow: auto;
}

.box:nth-of-type(even) {
    transform: translateX(-200%);
}

.box.show {
    transform: translateX(0);
}

.box h2 {
    font-size: 45px;
}